<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <%- include('./../views/partials/header') %>

  </head>
  <body>
    <h1>Mis Peliculas Favoritas</h1>
    <br></br>
    <p><a href="/movies">Listado de Películas</a></p>
    <br></br>
    <p><a href="/genres">Listado de Generos</a></p>
    <br></br>
    <p><a href="/movies/new">Películas nuevas</a></p>
    <br></br>
    <p><a href="/movies/recommended">Peliculas recomendadas</a></p>
     
  </body>
</html>
