<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <a onclick="location.href='/'"><i class="fas fa-film"></i></a>
    <div class="">
        <form class="nav-search" action="/movies/search" method="GET">
            <input name="keyword" type="text" id ="formulario" class="search-form-input" placeholder="Busca películas">
            <button class="nav-search-boton" id = "boton" type="submit">
                <div class="lupa-form"><i class="fas fa-search fa-2x"></i></div>
            </button> 
        </form>                
    </div>
    <br></br>
